<template>
  <el-table
    :data="dataList"
    @row-click="handleRowClick"
    ref="dataListRef"
    @selection-change="handleSelection"
    @select="handleSelect"
    @select-all="handleSelectAll"
  >
    <el-table-column
      v-if="selectable"
      type="selection"
      header-align="center"
      align="center"
      width="50"
    />
    <slot></slot>
  </el-table>
</template>

<script setup>
import {ref} from 'vue'
import {useMultipart, useSingle, useSelectSingle, useClearSelection} from '@/hooks'
const props = defineProps({
  dataList: Array,
  loading: Boolean,
  type: {
    type: String,
    default: 'multi',
    validator(value) {
      return ['single', 'multi'].includes(value)
    }
  },
  selectable: {
    type: Boolean,
    default: true
  },
  selection: Array,
})

const emits = defineEmits(['update:selection'])
const dataListRef = ref()

function handleRowClick(e){
  if(props.selectable){
    if(props.type === 'multi') useMultipart(e, dataListRef)
    else useSingle(e, dataListRef, props.selection)
  }
}

function handleSelect(selections, row){
  if(props.selectable && props.type === 'single') useSelectSingle(selections, row, dataListRef)
}

function handleSelectAll(){
  if(props.selectable && props.type === 'single') useClearSelection(dataListRef)
}

const handleSelection = e => emits('update:selection', e)

</script>

<style lang="scss" scoped>
.el-table{
  ::v-deep .el-table__row{
    cursor: pointer;
  }
}
</style>
