<template>
  <el-pagination
    :background="background"
    @current-change="handleChange"
    :current-page="currentPage"
    :total="total"
    :prev-text="prevText"
    :next-text="nextText"
    :layout="layout"
  />
</template>

<script setup>
import {usePageChange} from '@/hooks'
const emits = defineEmits(['update:currentPage'])
const props = defineProps({
  total: {
    type: Number,
    required: true
  },
  currentPage: {
    type: Number,
    required: true
  },
  queryMethod: {
    type: Function,
    required: true
  },
  background: {
    type: Boolean,
    default: true
  },
  prevText: {
    type: String,
    default: '上一页'
  },
  nextText: {
    type: String,
    default: '下一页'
  },
  layout: {
    type: String,
    default: 'prev, pager, next'
  }
})

function handleChange(e){
  emits('update:currentPage', e)
  usePageChange(e, props.queryMethod)
}
</script>

