<template>
  <el-table-column
    :prop="prop"
    :header-align="headerAlign"
    :align="align"
    :label="label"
    :width="width"
    :show-overflow-tooltip="showTip"
  >
    <template v-slot="scope">
      <slot :scope="scope">{{scope.row[prop]}}</slot>
    </template>
  </el-table-column>
</template>

<script setup>
defineProps({
  prop: String,
  label: String,
  headerAlign: {
    type: String,
    default: 'center',
  },
  align: {
    type: String,
    default: 'center'
  },
  width: {
    type: String,
    default: 'auto'
  },
  showTip: {
    type: Boolean,
    default: true
  },
})
</script>

